html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}
/* text align right */
.txt-lt {
    text-align: left;
}
/* text align left */
.txt-center {
    text-align: center;
    /*-- W3Layouts --*/
}
/* text align center */
.float-rt {
    float: right;
}
/* float right */
.float-lt {
    float: left;
}
/* float left */
.clear {
    clear: both;
}
/* clear float */
.pos-relative {
    position: relative;
}
/* Position Relative */
.pos-absolute {
    position: absolute;
}
/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}
/* vertical align top */
nav.vertical ul li {
    display: block;
}
/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}
/* horizontal menu */
img {
    max-width: 100%;
}
/*--- end reset code ---*/
.body-register {
    padding: 0;
    margin: 0;
    background: #fff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

    .body-register a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        text-decoration: none;
    }

        .body-register a:hover {
            text-decoration: none;
        }

        .body-register a:focus,
        a:hover {
            text-decoration: none;
        }

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

label {
    margin: 0;
    letter-spacing: 1px;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

.body-register {
    padding: 4em 0;
    background-image: url('../images/register/bg-register.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.register-full {
    width: 60%;
    margin: 0 auto;
}

.register-left {
    background: #08347c;
    height: 605px;
}

.register-right {
    background: #ffffff;
}

.register-in {
    padding: 3em;
}

.register-left,
.register-right {
    width: 50%;
    float: left;
}

    .register-left p {
        margin: 2em 0;
        line-height: 1.8em;
        font-size: 1em;
        letter-spacing: 1px;
    }

    .register-left h1 {
        font-size: 3em;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 1em;
        color: #ffffff;
        text-align: center;
    }

    .register-right h2 {
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 5px;
    }

.link a {
    color: #fff;
    background-color: #FF5722;
    padding: 0.4em;
    font-size: 1.4em;
    border: 2px solid #FF5722;
    border-radius: 4px;
}

.checkbox a {
    color: #08347c;
}

.link a:hover {
    color: #fff;
    border: 2px solid #000;
    background: #000;
    border-radius: 4px;
}

.register-form {
    margin: 2em 0 0 0;
}

    .register-form h4,
    .address h4 {
        margin-bottom: 2em;
        color: #404040;
        margin: 0 0 2em 0;
        font-weight: 600;
    }

.register input[type="text"],
.register input[type="email"],
.register input[type="password"],
.register input[type="tel"] {
    font-size: 1em;
    color: #8c8c8c;
    padding: 0.5em 1em;
    border: 0;
    width: 90%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
    outline: none;
}

input[type="checkbox"] {
    cursor: pointer;
}

.register textarea {
    min-height: 150px;
    resize: none;
}
/*-- input-effect --*/
.styled-input.agile-styled-input-top {
    margin-top: 0;
}

.styled-input input:focus ~ label,
.styled-input input:not(:placeholder-shown) ~ label,
.styled-input textarea:focus ~ label,
.styled-input textarea:not(:placeholder-shown) ~ label {
    font-size: 0.9em;
    color: #333333;
    top: -1.3em;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    -o-transition: all 0.125s;
    -ms-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input {
    width: 100%;
    position: relative;
    margin: 0 0 1.6em;
}

    .styled-input:nth-child(1),
    .styled-input:nth-child(3) {
        margin-left: 0;
    }

.textarea-grid {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.styled-input label {
    color: #8c8c8c;
    padding: 0.5em 0.9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: 0.9em;
    display: block;
    line-height: 1em;
}

.styled-input input ~ span,
.styled-input textarea ~ span {
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input textarea ~ span {
    bottom: 5px;
}

.styled-input input:focus.styled-input textarea:focus {
    outline: 0;
}

.styled-input input:focus ~ span,
.styled-input textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s;
    -moz-transition: all 0.075s;
    transition: all 0.075s;
}
/*-- //input-effect --*/
.register-form input[type="submit"] {
    width: 150px;
    max-width: 150px;
    outline: none;
    color: #ffffff;
    padding: 0.2em 1em;
    font-size: 1.4em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #08347c;
    border: 2px solid #08347c;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
}

    .register-form input[type="submit"]:hover {
        background: #000;
        border: 2px solid #000;
    }

input[type="text"] {
    width: 100%;
}
/*-- //contact --*/

/* responsive design */

@media (max-width: 1440px) {
    .register-full {
        width: 65%;
    }

    .register-left h1 {
        font-size: 2.9em;
    }
}

@media (max-width: 1366px) {
    .register-left h1 {
        font-size: 2.7em;
    }
}

@media (max-width: 1080px) {
    .register-full {
        width: 75%;
    }

    .register-left p {
        line-height: 1.6em;
    }

    .link a {
        padding: 0.3em;
        font-size: 1.3em;
        border-radius: 4px;
    }
}

@media (max-width: 1024px) {
    .register-full {
        width: 75%;
    }

    .register-left h1 {
        font-size: 2.5em;
    }

    .register-left {
        height: 602px;
    }

    .register-right h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 991px) {
    .register-left h1 {
        font-size: 2.8em;
    }

    .register-right h2 {
        font-size: 1.6em;
    }

    .register-left {
        height: 598px;
    }

    .register-full {
        width: 85%;
    }
}

@media (max-width: 800px) {
    .register-full {
        width: 84%;
    }

    .register-in {
        padding: 2em;
    }

    .register-left {
        height: 567px;
    }

        .register-left h1 {
            font-size: 2.1em;
        }

    .register input[type="text"],
    .register input[type="email"],
    .register input[type="password"],
    .register input[type="tel"] {
        width: 87%;
    }
}

@media (max-width: 768px) {
    .register-left h1 {
        font-size: 2em;
    }

    .register-left p {
        line-height: 1.4em;
    }

    .link a {
        border-radius: 4px;
        padding: 0.2em;
        font-size: 1.1em;
    }

    .register-form input[type="submit"] {
        font-size: 1.2em;
    }

    .register-left {
        height: 559px;
    }
}

@media (max-width: 736px) {
    .styled-input {
        margin: 0 0 1.2em;
    }

    i {
        line-height: 2em;
    }

    .register-left {
        height: 531px;
    }

        .register-left h1 {
            font-size: 2em;
        }

    .register-right h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 667px) {
    .register-full {
        width: 90%;
    }

    .register-in {
        padding: 2em;
    }

    .register-left {
        height: 531px;
    }
}

@media (max-width: 640px) {
    .register-full {
        width: 92%;
    }

    .register-left {
        height: 547px;
    }
}

@media (max-width: 600px) {
    .register-left {
        height: 547px;
    }
}

@media (max-width: 568px) {
    .register-in {
        padding: 1.5em;
    }

    .register-left h1 {
        font-size: 1.7em;
    }

    .register-left p {
        margin: 2em 0;
        line-height: 1.2em;
    }

    .register-left {
        height: 531px;
    }
}

@media (max-width: 480px) {
    .register-left,
    .register-right {
        width: 100%;
        height: inherit;
    }

    .register-full {
        width: 70%;
    }
}

@media (max-width: 414px) {
    .register-left {
        width: 100%;
        height: inherit;
    }

    .body-register {
        padding: 3em 0;
    }

    .register-right {
        width: 100%;
    }

    .register-full {
        width: 75%;
    }

    .styled-input {
        width: 90%;
    }

    .agile-copyright {
        line-height: 1.4em;
        padding: 0 3em;
    }
}

@media (max-width: 320px) {
    .body-register {
        padding: 2em 0;
    }

    .register-left h1 {
        font-size: 1.6em;
    }

    .register-full {
        width: 80%;
    }

    .register input[type="text"],
    .register input[type="email"],
    .register input[type="password"],
    .register input[type="tel"] {
        padding: 0.3em;
    }

    .register-form input[type="submit"]
    {
        padding: 0.4em;
        border: 1px solid #08347c;
    }

        .register-form input[type="submit"]:hover {
            padding: 0.4em;
            border: 1px solid #000;
        }

    .link a {
        border-radius: 4px;
        border: 1px solid #FF5722;
    }

        .link a:hover {
            border: 1px solid #000;
            border-radius: 4px;
        }

    .register-left p {
        margin: 1em 0;
    }

    .register-form input[type="submit"] {
        font-size: 1em;
    }

    .agile-copyright {
        margin: 2em 1em 0;
        word-spacing: 3px;
        padding: 0em;
    }
}

/* //responsive design */
